<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="mb-1">
        <ng-template pTemplate="left">
            <h5 class="m-0">Filonuzu Yönetin</h5>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="cars" [rows]="10" *ngIf="!loading" [rowHover]="true" dataKey="id"
    [globalFilterFields]="['brandName', 'colorName', 'classTypeName', 'description', 'modelYear', 'dailyPrice', 'minFindexScore', 'kilometer', 'minCustomerAge', 'deleted']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <app-car-add></app-car-add> 
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="custom-font-sm">
                <th pSortableColumn="brandName">Brand Name <p-sortIcon field="brandName"></p-sortIcon></th>
                <th pSortableColumn="colorName">Color Name <p-sortIcon field="colorName"></p-sortIcon></th>
                <th pSortableColumn="classTypeName">Class<p-sortIcon field="classTypeName"></p-sortIcon></th>            
                <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>            
                <th pSortableColumn="modelYear">Model Year<p-sortIcon field="modelYear"></p-sortIcon></th>            
                <th pSortableColumn="dailyPrice">Daily Price<p-sortIcon field="dailyPrice"></p-sortIcon></th>            
                <th pSortableColumn="minFindexScore">Findex Score<p-sortIcon field="minFindexScore"></p-sortIcon></th>            
                <th pSortableColumn="kilometer">Kilometer<p-sortIcon field="kilometer"></p-sortIcon></th>            
                <th pSortableColumn="minCustomerAge">Customer Age<p-sortIcon field="minCustomerAge"></p-sortIcon></th>            
                <th pSortableColumn="deleted">Status<p-sortIcon field="deleted"></p-sortIcon></th>            
                <th></th>            
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr class="custom-font-sm">
                <td>{{car.brandName}}</td>
                <td>{{car.colorName}}</td>
                <td>{{car.classTypeName}}</td>
                <td>{{car.description.substring(0,9)}}...</td>
                <td>{{car.modelYear}}</td>
                <td>{{car.dailyPrice | currency: "TRY":"₺":""}}</td>
                <td>{{car.minFindexScore}}</td>
                <td>{{car.kilometer}}</td>
                <td>{{car.minCustomerAge}}</td>
                <td><p-badge [value]="car.deleted" [severity]="car.deleted ? 'danger' : 'info'"></p-badge></td>
                <td>
                    <app-car-update [car]="car"></app-car-update>
                    <app-car-delete [car]="car"></app-car-delete>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-center">
                <p-paginator [rows]="10" [first]="first" [totalRecords]="totalCount" (onPageChange)="loadMoreCars($event)"></p-paginator>
            </div>
            <div class="flex align-items-center justify-content-center mt-3">
                In total there are {{totalCount}} cars.
            </div>
        </ng-template>

    </p-table>

    <!-- Table for skeleton start  -->
    <p-table responsiveLayout="scroll" [value]="skeletonValue" [rowHover]="true" dataKey="id" [rows]="10" *ngIf="loading"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
            <tr class="custom-font-sm">
                <th pSortableColumn="brandName">Brand Name <p-sortIcon field="brandName"></p-sortIcon></th>
                <th pSortableColumn="colorName">Color Name <p-sortIcon field="colorName"></p-sortIcon></th>
                <th pSortableColumn="classTypeName">Class<p-sortIcon field="classTypeName"></p-sortIcon></th>            
                <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>            
                <th pSortableColumn="modelYear">Model Year<p-sortIcon field="modelYear"></p-sortIcon></th>            
                <th pSortableColumn="dailyPrice">Daily Price<p-sortIcon field="dailyPrice"></p-sortIcon></th>            
                <th pSortableColumn="minFindexScore">Findex Score<p-sortIcon field="minFindexScore"></p-sortIcon></th>            
                <th pSortableColumn="kilometer">Kilometer<p-sortIcon field="kilometer"></p-sortIcon></th>            
                <th pSortableColumn="minCustomerAge">Customer Age<p-sortIcon field="minCustomerAge"></p-sortIcon></th>            
                <th pSortableColumn="deleted">Status<p-sortIcon field="deleted"></p-sortIcon></th>            
                <th></th>            
            </tr>
        </ng-template>
        <ng-template pTemplate="body">
            <tr>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td>
                    <p-skeleton shape="circle" size="30px"></p-skeleton>
                    <p-skeleton shape="circle" size="30px"></p-skeleton>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!-- Table for skeleton end  -->
</div>


