<p-table #dt [columns]="columns" [value]="invoices" selectionMode="multiple" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex">
            <h5 class="m-0">Faturalar</h5>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <app-invoice-detail [invoice]="rowData"></app-invoice-detail>
            </td>
        </tr>
    </ng-template>
</p-table>