<p-toast></p-toast>
<button pButton pRipple label="Ekle" icon="pi pi-plus" class="p-button-success btn-sm mr-2" (click)="openNew()"></button>
<form [formGroup]="brandAddForm" (submit)="add()">
<p-dialog [(visible)]="brandAddDialog" [style]="{width: '450px'}" header="Brand Add" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Name</label>
                <input type="text" formControlName="name" pInputText id="name" autofocus />
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit"></button>
        </ng-template>
</p-dialog>
</form>
