<p-card header="{{car?.brandName}}" subheader="{{car?.colorName}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://is1-ssl.mzstatic.com/image/thumb/Purple122/v4/52/39/4d/52394d54-0782-e9ca-ca72-7336a0870249/source/256x256bb.jpg">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    <ng-template pTemplate="footer">
        <p-button label="Kirala" icon="pi pi-check" routerLink="/rental/{{car?.id}}"></p-button>
        <p-button label="Geri Dön" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
    </ng-template>
</p-card>