<div class="stepsdemo-content m-4">
    <p-card>
        <ng-template pTemplate="title">
            <div class="text-align">Ödeme Bilgilerinizi Girin</div>
        </ng-template>
        <ng-template pTemplate="subtitle">
            <div class="text-align">Lütfen ödeme için gerekli bilgileri girin.</div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row justify-content-evenly">
                <div class="col-md-6">
                    <p-card>
                        <ng-template pTemplate="content">

                            <form [formGroup]="paymentAddForm">
                                <div class="p-fluid formgrid grid">
                                    <div class="field col-12">
                                        <label for="class">Card Holder Name</label>
                                        <input type="text" formControlName="firstNameAndLastName" required pInputText> 
                                    </div>
                                    <div class="field col-8">
                                        <label id="number" for="lastname">Number</label>
                                        <p-inputMask inputId="number" formControlName="cardNumber" mask="9999-9999-9999-9999"></p-inputMask>
                                    </div>
                                    <div class="field col-2">
                                        <label id="date" for="date">Date</label>
                                        <p-inputMask inputId="date" formControlName="expirationDate" mask="99/99"></p-inputMask>
                                    </div>
                                    <div class="field col-2">
                                        <label for="cvv">CVV</label>
                                        <p-inputMask id="cvv" formControlName="ccv" mask="999"></p-inputMask>
                                    </div>
                                </div>
                        </form>
                        </ng-template>
                    </p-card> 
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Back" icon="pi pi-angle-left" styleClass="p-button-sm p-button-rounded p-button-outlined mr-2"></p-button>            
                <p-button label="Next" (onClick)="add()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-sm p-button-rounded p-button-outlined"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>