<div class="stepsdemo-content m-4">
    <p-card>
        <ng-template pTemplate="title">
            <div class="text-align">Ödeme Bilgilerinizi Girin</div>
        </ng-template>
        <ng-template pTemplate="subtitle">
            <div class="text-align">Lütfen ödeme için gerekli bilgileri girin.</div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row justify-content-evenly">
                <div class="col-md-6">
                    <p-card>
                        <ng-template pTemplate="content">

                            <form [formGroup]="paymentAddForm" (submit)="add()">
                                <div class="grid p-fluid">
                                    <div class="field col-6">
                                        <small><label for="rentMile">Rent Kilometer</label></small>
                                        <p-inputNumber formControlName="rentedKilometer" inputId="rentMile" suffix=" km">
                                        </p-inputNumber>
                                    </div>
                        
                                    <div class="field col-6">
                                        <small><label for="returnMile">Return Kilometer</label></small>
                                        <p-inputNumber formControlName="returnedKilometer" inputId="returnMile" suffix=" km">
                                        </p-inputNumber>
                                    </div>
                                </div>
                        
                                <div class="grid p-fluid">
                                    <div class="field col-6">
                                        <small><label for="buttonbar">Rent Date</label></small>
                                        <p-calendar [showButtonBar]="true" formControlName="rentDate" inputId="buttonbar"></p-calendar>
                                    </div>
                        
                                    <div class="field col-6">
                                        <small><label for="buttonbar2">Return Date</label></small>
                                        <p-calendar [showButtonBar]="true" formControlName="returnDate" inputId="buttonbar2"></p-calendar>
                                    </div>
                                </div>
                        
                                <!-- <div class="grid p-fluid">
                                    <div class="field col-6">
                                        <small><label for="buttonbar">Rent City</label></small>
                                        <p-dropdown [options]="cities" placeholder="Select a Rent City" formControlName="rentedCityId" optionValue="id" optionLabel="name" [showClear]="true"></p-dropdown>
                                    </div>
                        
                                    <div class="field col-6">
                                        <small><label for="buttonbar">Return City</label></small>
                                        <p-dropdown [options]="cities" placeholder="Select a Return City" formControlName="returnedCityId" optionValue="id" optionLabel="name" [showClear]="true"></p-dropdown>
                                    </div>
                                </div> -->
                        </form>
                        </ng-template>
                    </p-card> 
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Back" icon="pi pi-angle-left" styleClass="p-button-sm p-button-rounded p-button-outlined mr-2"></p-button>            
                <p-button label="Next" (onClick)="add()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-sm p-button-rounded p-button-outlined"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>