<p-toast></p-toast>
<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openDialog()"></button>
<form>
    <p-dialog [(visible)]="invoiceDetailDialog" [style]="{width: '450px'}" header="Brand Update" [modal]="true" styleClass="p-fluid">
        <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>

            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" [(ngModel)]="invoice.brandName" [ngModelOptions]="{standalone: true}" pInputText id="name" autofocus />
                </div>
            </ng-template>  
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" type="button" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" type="submit"></button> 
            </ng-template>
    </p-dialog>
</form>
    

