<h1>Rental Add</h1>
<form [formGroup]="rentalAddForm" (submit)="add()">
        <div class="grid p-fluid">
            <div class="field col-12 md:col-2">
                <label for="rentMile">Enter Rented Kilometer</label>
                <p-inputNumber formControlName="rentedKilometer" inputId="rentMile" suffix=" km">
                </p-inputNumber>
            </div>

            <div class="field col-12 md:col-2">
                <label for="returnMile">Enter Return Kilometer</label>
                <p-inputNumber formControlName="returnedKilometer" inputId="returnMile2" suffix=" km">
                </p-inputNumber>
            </div>
        </div>

        <div class="grid p-fluid">
            <div class="field col-12 md:col-2">
                <label for="buttonbar">Rent Date</label>
                <p-calendar [showButtonBar]="true" formControlName="rentDate" inputId="buttonbar"></p-calendar>
            </div>

            <div class="field col-12 md:col-2">
                <label for="buttonbar2">Return Date</label>
                <p-calendar [showButtonBar]="true" formControlName="returnDate" inputId="buttonbar2"></p-calendar>
            </div>
        </div>

        <div class="grid p-fluid">
            <div class="field col-12 md:col-2">
                <label for="buttonbar">Rent City</label>
                <p-dropdown [options]="cities" placeholder="Select a Rent City" formControlName="rentedCityId" optionValue="id" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>

            <div class="field col-12 md:col-2">
                <label for="buttonbar">Return City</label>
                <p-dropdown [options]="cities" placeholder="Select a Return City" formControlName="returnedCityId" optionValue="id" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <button pButton pRipple type="submit" label="Add" class="p-button-raised p-button-success p-button-text ml-3"></button>
</form>